<main class="container mod">
  <article id="not-installed" class="hidden">
    <p class="download-help-first">
      If you don't have CivMods installed, you can download it from the link below.
    </p>
    <p class="download-help">
      Once you have installed CivMods, click the button below <strong>Install with CivMods</strong> to install the mod.
    </p>
    <a id="download-btn" role="button" href="https://civmods.com/releases/latest">
      {{{icon 'outline/download' 24}}} Download CivMods
    </a>
  </article>

  <article>
    <header class="mod-header">
      You're about to install the following mod
    </header>
    {{#if mod.icon_url}}
    <img class="mod-icon" src="{{mod.icon_url}}" alt="{{mod.name}}" />
    {{/if}}
    <h2>{{mod.name}}</h2>
    <p>{{mod.short_description}}</p>

    <a id="install-button" role="button" aria-busy="true" aria-label="Installing with CivMods..."
      href="civmods://install/?modId={{mod.id}}">
      {{{icon 'outline/hexagon-plus' 24}}} <span class="text">Installing with CivMods...</span>
    </a>
    <footer>
      <a href="{{mod.url}}" target="_blank" rel="noopener noreferrer">
        Back to CivFanatics
      </a>
    </footer>
  </article>
</main>

{{#section 'scripts'}}
<script>
  function openCivMods() {
    const deepLink = "civmods://install?modId={{mod.id}}";

    let timeout;
    let hasFocus = true;

    // Detect if the page loses focus (app opened successfully)
    window.addEventListener("blur", function () {
      hasFocus = false; // User switched away (likely opened the app)
    });

    // Try to open the app
    window.location.href = deepLink;

    // If the app isn't installed, show the download button
    setTimeout(function () {
      document.querySelector("a#install-button").removeAttribute("aria-busy");
      document.querySelector("a#install-button .text").innerText = "Install with CivMods";
      document.getElementById("not-installed").classList.remove("hidden");
    }, 2000);

  }
  openCivMods();
</script>
{{/section}}